<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Web Development</title>
    
    </head>
    <body>
        <header>
            <h1>Web Development</h1>
            <nav>
                <h3>Menu</h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <h2>Web Development Projects</h2>
            <p>This page is dedicated to my web development projects. Here, I will share my progress, 
                challenges, and learnings as I work on various web development projects. 
                Stay tuned for updates and feel free to explore the projects listed below!</p>

                I started with html css and js and host a static website on github
            <p>This section is under construction. Please check back later for more content!</p>
            one of the following:
            nodejs with express to serve static files (render.com hosting) https://dashboard.render.com/
            python with flask to serve static files

            <!-- List of web development projects -->
            <ul>
                <li><a href="/fonts">how to choose font styles</a></li>
                <!-- Add more projects as needed -->
            </ul>
        </main>

        <footer>
            &copy; 2024 Unfinished Project
        </footer>