* {
    /* universal selector to apply styles to all elements */
    font-family: "Atkinson Hyperlegible", Arial, "Helvetica", sans-serif;
    line-height: 1.6;
    letter-spacing: 0.03em;
    /*border-style: dashed;   /*test*/

}

header {
    display: flex;
    margin: 0;
    align-items: center;
    background-color: #E6C47F;
    padding: 0;
    /*TODO: use highlight color*/

}

header h1 {
    margin: 0;
    padding: 2vw;
    padding-left: 2.5vw;
    /*background-color: red;/*test*/

}


nav {
    margin-left: auto;
    /* pushes nav to the far right */
    padding: 0;
    

    /*background-color: red;/*test*/

}


nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*border-style: dashed;
    /*test*/

}

nav ul li {
    width: auto;
    padding: 2vw;
    /*border-style: dotted;
    /*test*/

}

nav ul li a {
    text-decoration: none;
    /* remove underline */
    color: black;
    /* link color */
    /*background-color: blue;/*test*/
}

nav h3 {
    /*hidden menu tab for small screens*/
    display: none;
}


@media (max-width: 605px) {
    /* Adjust the breakpoint as needed */

    /*phone and small tablet screens*/
    nav ul {
        display: none
    }

    nav h3 {
        margin:0;
        display: block;
        padding: 2vw;

        /*border-style: dashed;
        /*test*/

    }
}

body {
    background-color: #f5eee2;

    margin: 0;
}

main {
    background-color: white;
    padding: 2vw;
    border-radius: .5vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2vw;

}

footer {
    text-align: center;
    padding: 2vw;
}